.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background: linear-gradient(90deg, #0000ff 0% , #ff00ff 50%, #00eeff 100%);
}
h1, p, img, video{
    margin: 10px;
}
img{
    width: 40%;
    height: 30%;
    border-radius: 60px;
}
source{
    border-radius: 60px;
}
